h3,h2,h1,ul,ol,li {
	font-family: tahoma;
	color: rgb(35,70,35);
}
em{
	color: white;
}
a{
	color: rgb(10,0,0);
}
p {
	font-family: georgia;
	color: white;
}
body {
	background-color: rgb(100,89,98);
	
}
table {
	background-color: rgb(10,60,50);
}